.header
    background-color: var(--color-orange)
    &__container
        display: flex
        align-items: center
        justify-content: space-between
        padding: 13px 20px

.add
    cursor: pointer
    height: 50px
    width: 50px
    border-radius: 50px
    line-height: 60px
    text-align: center
    background-color: var(--color-light)
    &:hover .plus
        fill: var(--color-orange)
        
