body
    color: var(--color-dark)
    font-size: $bodyFz
    font-family: '#{$mainFont}', sans-serif
    font-weight: $bodyFw
    background-color: var(--color-white)
.plus
    width: 20px
    height: 20px
    fill: var(--color-gray)
    transition: fill .3s

h1
    font-weight: 900
    font-size: 48px
    line-height: 56px
    color: var(--color-light)
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)

.arrow_down
    height: 12px
    width: 21px
.arrow_left
    width: 12px
    height: 21px


.section
    background-color: rgba(0, 0, 0, 0.06)
    &__content
        padding: 20px
    
.back
    cursor: pointer
    padding: 0
    border: none
    background-color: transparent
    transition: fill .3s
    &:focus
        outline: none
    &:hover
        fill: var(--color-orange)

.check_mark
    $s: 24px
    height: $s
    width: $s
    border-radius: $s

.main-btn
    cursor: pointer
    padding: 8px 13px
    border: 1px solid #828282
    border-radius: 5px
    background-color: transparent
    font-size: 14px
    transition: background-color .3s
    &:hover
        background-color: rgba(#828282, 0.3)
    &__svg
        margin-right: 13px
        vertical-align: middle

.title
    height: 28px
    font-weight: 500
    font-size: 24px
    line-height: 28px
    color: #333333

.block-color_sm
    background: #F2C94C
    border-radius: 5px
    width: 42px
    height: 21px


    
