:root {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #828282;
    --color-light: #F2F2F2;
    --color-orange: #F2994A
}

// body vars
$mainFont: 'Roboto';
$bodyFw: 400;
$bodyFz: 15px;

